<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置整合 Mybatis -->

    <!-- 1. 关联数据文件 -->
    <context:property-placeholder location="classpath:database.properties"/>

    <!-- 2. 数据库连接池 -->
    <!-- 数据库连接池
        dbcp 半自动化操作 不能自动连接
        c3p0 自动化操作（自动加载配置文件 并且设置到对象里面）
        druib hikari
        -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 配置连接池属性 -->
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <!-- c3p0 连接池的私有属性 -->
        <property name="maxPoolSize" value="30"/>
        <property name="minPoolSize" value="10"/>
        <!-- 关闭连接后不自动 commit -->
        <property name="autoCommitOnClose" value="false"/>
        <!-- 获取连接超时时间 -->
        <property name="checkoutTimeout" value="10000"/>
        <!-- 当前获取连接失败重试次数 -->
        <property name="acquireRetryAttempts" value="2"/>
    </bean>


    <!-- 3. 配置 SqlSessionFactory 对象 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置 MyBatis 全局配置文件 -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:com/the_ring/dao/*Mapper.xml"/>
<!--        <property name="mapperLocations">-->
<!--            <list>-->
<!--                <value>classpath:com/the_ring/dao/**Mapper.xml</value>-->
<!--            </list>-->
<!--        </property>-->
    </bean>


    <!-- 4. 配置扫描 Dao 接口包，动态实现 Dao 接口注入到 Spring 容器中 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 注入 sqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!-- 给出需要扫描 Dao 接口包 -->
        <property name="basePackage" value="com.the_ring.dao"/>
    </bean>
    
<!--    <bean id="adminMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
<!--        &lt;!&ndash; sqlSessionFactory 属性指定要用到的 SqlSessionFactory 实例 &ndash;&gt;-->
<!--        <property name="sqlSessionFactory" value="sqlSessionFactory"/>-->
<!--        &lt;!&ndash; mapperInterface 属性制动映射器接口，用于实现接口并生成映射器对象 &ndash;&gt;-->
<!--        <property name="mapperInterface" value="com.the_ring.dao.AdminMapper"/>-->
<!--    </bean>-->

</beans>